/* 原理
1. 优先原则： 后解析的会覆盖掉之前解析的内容
2. 继承原则： 嵌套里面的标签拥有外部标签的某些样式
             子元素可以继承父元素的某些属性

1. 优先原则：对选择器
  1. 同一个选择器：从上往下执行 */

  div{
      color: red;
      color: green;
  }
  /* 2. 同一类型的选择器：从上往下 */
  div {
      background-color: red;
  }
  div {
      background-color: green;
  }
  /* 3. 不同类型的选择器： 根据优先级
   先解析低优先级，再解析高优先级
   * < div < class < id */

  /* 4. 外部样式和内部样式  合并之后一起解析
     先外部样式，后内部样式的顺序合并，再从上往下解析 */
  
  /* 5. 内联样式： 
     外部+内部样式解析完之后，再解析内联样式 */
  /* 6. 加了important字段的，最后执行.多用于代码调试 */
div {
    background-color: red!important;
}
div {
    background-color: green;
}

2. 继承原则
    1. 跟文字 文本相关的样式 可以被继承，其他不可以被继承
    2. 块级元素   若宽度不设置，继承父元素的宽
                  高度由内容决定
    